.section {
    font-family: Lato,Verdana,Arial;
    display: flex;
    padding: 3rem;
    align-items: flex-start;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    flex-direction: column;
}
.direction-row {
    flex-direction: row;
}
.text-white {
    color: white;
}
.text-black {
    color: black;
}
.align-right {
    align-items: flex-end;
}
.align-left {
    align-items: flex-start;
}
.wrapper {
    display: flex;
}
.bg-image {
    background-image: var(--background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn {
    display: inline-flex;
    border: 1px solid #478cc8;
    border-radius: 42px;
    background-color: transparent;
    padding: 7px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 11px;
    color: white;
    background-color:#478cc8;
    &:hover {
        background-color: #3a7bbf;
        border-color: #3a7bbf;
    }
}
.btn-green {
    color: white;
    background-color:#64b82a;
    border-color: #64b82a;
    &:hover {
        background-color: #55a120;
        border-color: #55a120;
    }
}
.list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.list-item {
    align-self: flex-start;
    position: relative;
    padding: 10px 30px;
    &::before {
        content: '';
        display: block;
        width: 20px;
        height: 5px;
        background-color: #478cc8;
        left: 5px;
        position: absolute;
        top: 18px;
    }
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem
}